'scopeName': 'source.improviz'
'fileTypes': [
  'improviz', 'pz'
]
'name': 'Improviz'
'patterns': [
  {
    'match': '\\b(if|elif|else|func|times|with|pi|loop)\\b'
    'name': 'keyword'
  },
  {
    'match': '\\b(null|time)\\b'
    'name': 'constant'
  },
  {
    'match': '\\b(([0-9]([0-9\']*[0-9])?\\.?[0-9]*([0-9\']*[0-9])?)|(\\.[0-9]([0-9\']*[0-9])?))\\b'
    'name': 'constant.numeric'
  },
  {
    'begin': '//'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment'
    'end': '$'
    'name': 'comment.line.double-slash'
  },
  {
    'match': ':[a-zA-Z][a-zA-Z0-9]*'
    'name': 'constant.symbol'
  },
  {
    'match': '\\b(abs|animate|animationStyle|background|ceil|cos|cube|cylinder|debug|fill|floor|frames|length|line|log|material|materialVar|max|min|motionBlur|move|movePct|noFill|noStroke|paintOver|popScope|pushScope|random|randomSeed|rectangle|rotate|round|scale|sin|slideshow|sphere|sqrt|stroke|strokeSize|tan|texture|triangle)\\b'
    'name': 'entity.name.function'
  },
]
